<div>
	{{"This page is "+Qm.userInfo.username+';'+Qm.userInfo.word}}
	<form name='test_form' test1>
		<input ng-model="Qm.userInfo.username" type="email" required />
		<button ng-click="do()">Button</button>
		<span>{{test_form.$valid}}</span>
	</form>
	<br /> <a href="#/page3/123">Page3/123</a> <br />
	<hello> <span>Qweic</sapn></hello>
	<br />
	<div ng-class="{true: 'red-button', false: 'black-button'}[isActive]">Div
		test{{id}}</div>
	<div ng-class="!isActive? 'red-button':'black-button'">Div
		test{{id}}</div>
	<a href="#/page1">Page1</a> <br /> <a href="#/page2">Page2</a> <br />
	<a href="#/page3/1">Page3</a> <br /> <a href='#' myImg>Link</a>
</div>