<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<script type="text/javascript" src="../static/js/angular.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/utils.js"></script>
<script type="text/javascript">
	var ctrl = function($scope) {
		$scope.clickMe = function() {
			 
		};
		$scope.clickMe2 = function() {
			var objs=[{'ab':1},{},{'a':1,'b':2,'c':3}];
			for(var i in objs){
				var obj=objs[i];
				console.log(isEmptyObj(obj));
				console.log('length:' + obj.length());
			}
		};

	};
	angular.module('myApp', []).controller('MyCtrl', [ '$scope', ctrl ]);

 
</script>
</head>
<body ng-app='myApp' ng-controller='MyCtrl'>
	Hello {{'World'}}! {{yourname}}
	<hr>
	Your name:
	<input type="text" ng-model="yourname" placeholder="World">
	<hr>
	<div>
		<button ng-click="clickMe();">Click Me</button>
	</div>
	<div>
		<button ng-click="clickMe2();">Image 4</button>
	</div>
	<img width="100" height="100" id="img1"></img>
	<br />
	<div id="myDiv"></div>
	<div id="picDiv"></div>
</body>
</html>

